<% @my_monsters.each do |my_monster| %>
  <table>
    <tr>
      <td><%= link_to("#{my_monster.nicname}", "/my_monster/#{my_monster.id}") %></td>
      <td><%= my_monster.monster.screen_name %></td>
    </tr>
  </table>
<% end %>
<%= paginate @my_monsters %>
