<% @monsters.each do|monster| %>
  <table>
    <tr>
      <td><%= 'No.' %></td>
      <td><%= monster.no %></td>
      <td><%= link_to("#{monster.screen_name}", "/monster/#{monster.id}") %></td>
    </tr>
  </table>
<% end %>
<%= paginate @monsters %>
